:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./assets/bit.png');  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 1500;
  font-family: inherit;
  justify-content: center;
  position: absolute;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}


.container {
  user-select: none;
}

.title {
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  margin: .2em 0;
}

/************************/
/*CSS FORMULARIO NUEVO*/
/************************/
.formCampo > h4 {
  width: 100px;
}

#tipoBin {
  position: relative;
  margin-left: -1px;
  width: 40px;
}

form {
  max-width: 500px;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.808);
  display: flex;
  flex-direction: column;
  /* gap: 1.5em; */
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select {
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
  background: #FFFFFF;
  border: 2px solid black;
  outline: none;
  margin: 10px 0;
}

input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"],
input[type="email"]:focus,
select:focus {
  border-color: #213547;
}

select {
  cursor: pointer;
}

.radio-group {
  margin: .5em 0;
  font-size: 1em;
}

.radio-group>label {
  display: flex;
  gap: .5em;
}

.radio-group>label,
.radio-group>label>input {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #213547;
}

form>div {
  display: flex;
  gap: 1em;
  align-items: center;
}

form>div>label {
  font-weight: bold;
}

form>label {
  display: flex;
  align-items: center;
  gap: .5em;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  width: fit-content;
  margin: 1em 0;
}

form>button {
  cursor: pointer;
  padding: 12px;
  border-radius: 5px;
  background-color: #213547;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  font-size: 1em;
  transition: all .2s ease;
}

form>button:hover {
  opacity: 0.8;
}

form>button:active {
  transform: scale(.98);
}

.error {
  color: #E94560;
  font-weight: bold;
  display: block;
  text-align: right;
}